#new_oferta
  %h1 Publica una promoción
  =nested_form_for @oferta, :html => { :multipart => true } do |f|
    .field
      =f.label 'Id Restaurante'
      %br
      =f.text_field :restaurant_id

    =render 'restaurants/oferta_fields', :f => f

    =f.submit
