-content_for :meta do
  %meta{:property=>"og:title", :content=>"¡Oferta en Comida! XD"}
  %meta{:property=>"og:type", :content=>"food"}
  %meta{:property=>"og:url", :content=>cool_oferta_url(@oferta)}
  %meta{:property=>"og:image", :content=>@oferta.picture.url(:medium)}
  %meta{:property=>"og:site_name", :content=>"Comidero"}
  %meta{:property=>"fb:app_id", :content=>"369418443117706"}
  %meta{:property=>"og:description", :content=>@oferta.description + " en " + @oferta.restaurant.name }

-content_for :javascript do
  %script{:type=>"text/javascript"}
    var sucursales = [
    -if @oferta.restaurant.addresses
      -@oferta.restaurant.addresses.each_with_index do |suc, index|
        -if !suc.latitude.blank? and !suc.longitude.blank?
          -if index < @oferta.restaurant.addresses.count - 1
            new google.maps.LatLng(#{suc.latitude}, #{suc.longitude}),
          -else
            new google.maps.LatLng(#{suc.latitude}, #{suc.longitude})
    ];

#oferta
  #main_oferta
    .imagen
      .imagen2
        =image_tag(@oferta.picture.url(:medium))
    .info
      %h2
        =@oferta.description.titleize
        %br
      %span=' en ' + @oferta.restaurant.name.titleize
      %br
      %br
      -if !@oferta.hour.blank?
        %strong Horario en el que aplica
        %br
        =@oferta.hour
        %br
      %br
      -if !@oferta.conditions.blank?
        .conditions
          %strong Condiciones
          %br
          =@oferta.conditions
          %br
          %br
    .social_main
      .fb-like{"data-href"=>cool_oferta_url(@oferta), "data-send" => "false", "data-width" => "80", "data-layout" => "button_count", "data-show-faces" => "false"}
      %a.twitter-share-button{:href => "https://twitter.com/share", "data-url" => cool_oferta_url(@oferta), "data-lang" => "en"} tweet

  -if @oferta.restaurant.addresses
    #sucursales
      %h3 Sucursales
      #mapa
        #map_canvas
      -@oferta.restaurant.addresses.each do |suc|
        .sucursal
          %strong Dirección:
          =suc.street
          %br
          =raw suc.street2 + "<br />" unless suc.street2.blank?
          -unless suc.phone.blank?
            %strong Tel:
            =suc.phone




  .fb-comments{"data-href"=>"http://comidero.com", "data-num-posts"=>"2", "data-width"=>"670"}
