@import "tools"

body
  background: url(http://subtlepatterns.com/patterns/brushed_alu.png)
  margin: 0
  font-size: 15px
  font-family: helvetica

h1
  font-size: 2em
  margin: 0.5em
  margin-bottom: 1em

h2
  font-size: 2.3em
  line-height: 1.2
  color: $brand
  font-family: $font1

input[type="text"]
  margin-top: 3px
  height: 30px

#header
  padding: 0.5em 0
  background: #3d9ad1
  margin-bottom: 1em
  border-bottom: 5px solid $brand
  font-family: $font1
  .header_info
    @include center
    a.publica_url
      float: right
      color: $brand
      margin-top: 50px

#days
  @include rounded_left
  font-family: $font1
  float: left
  list-style: none
  margin: 0
  padding: 0.5em
  font-size: 1.2em
  background: white
  li
    a.current_day
      background: #57EA00
      padding: 0.7em 0
      display: block
      text-align: center
      width: 108px
      font-size: 1.3em
      color: $dark_gray

  a
    display: block
    @include rounded
    background: darken(#CCC, 10)
    padding: 0.5em
    padding-right: 1em
    margin-bottom: 0.1em
    text-decoration: none
    color: white
    &:hover
      background: #CCC

#content
  @include center
  overflow: auto
  strong
    font-family: $font1
  #main
    @include rounded_bottom
    @include rounded_right
    background: white
    padding: 0.6em
    overflow: auto
  .ver_mas
    @include main-button
    width: 120px
    line-height: 1.5
    hegiht: 50px
    float: right
    margin-right: 10px
  #main_oferta
    font-size: 1.2em
    background: #FAFAFA
    @include rounded
    overflow: auto
    padding: 0.5em
    .imagen
      width: 398px
      float: left
      overflow: hidden
      @include rounded
      border: 1px solid lighten($mid_gray,5)
      .imagen2
        border: 1px solid $gray
        @include rounded
        overflow: hidden
    .info
      margin: 0 0.5em
      float: left
      width: 380px
      text-align: right
      height: 280px
    .social_main
      text-align: right
      float: right
      margin-bottom: 0.5em
      width: 380px
      .fb-like
        float: right
      .twitter-share-button


  .ofertas
    padding: 1.5em
  .oferta
    margin: 0.5em 0
    padding: 0.5em
    overflow: hidden
    @include rounded
    background: lighten($gray, 15)
    .imagen
      float: left
      margin-right: 1em
      @include rounded
      border: 1px solid $blue
    h2
      font-size: 1.5em
    .info
      height: 140px
    .social
      float: right
      .twitter-share-button
        float: right
      .fb-like
        float: right

.conditions
  font-size: 0.8em


#new_oferta
  .field
    @include center
    width: 400px
    margin-bottom: 1em
    input[type="text"]
      width: 100%
    textarea
      width: 100%
      height: 60px
  .day_list
    margin-top: 1em
    label
      font-family: arial
  a
    text-decoration: none
    color: $font_color
  .local
    background: #CCC
    @include rounded
    @include center
    width: 400px
    padding: 0.5em
    .field
      width: 100%
