body {
  background: url(http://subtlepatterns.com/patterns/brushed_alu.png);
  margin: 0;
  font-size: 15px;
  font-family: helvetica; }

h1 {
  font-size: 2em;
  margin: 0.5em;
  margin-bottom: 1em; }

h2 {
  font-size: 2.3em;
  line-height: 1.2;
  color: #ffa500;
  font-family: "Righteous", cursive; }

input[type="text"] {
  margin-top: 3px;
  height: 30px; }

#header {
  padding: 0.5em 0;
  background: #3d9ad1;
  margin-bottom: 1em;
  border-bottom: 5px solid #ffa500;
  font-family: "Righteous", cursive; }
  #header .header_info {
    width: 960px;
    margin: 0px auto; }
    #header .header_info a.publica_url {
      float: right;
      color: #ffa500;
      margin-top: 50px; }

#days {
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  font-family: "Righteous", cursive;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0.5em;
  font-size: 1.2em;
  background: white; }
  #days li a.current_day {
    background: #57ea00;
    padding: 0.7em 0;
    display: block;
    text-align: center;
    width: 120px;
    font-size: 1.3em;
    color: #333333; }
  #days a {
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    background: #b3b3b3;
    padding: 0.5em;
    padding-right: 1em;
    margin-bottom: 0.1em;
    text-decoration: none;
    color: white; }
    #days a:hover {
      background: #cccccc; }

#content {
  width: 960px;
  margin: 0px auto;
  overflow: auto; }
  #content strong {
    font-family: "Righteous", cursive; }
  #content #main {
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: white;
    padding: 0.6em;
    overflow: auto; }
  #content #main_oferta {
    font-size: 1.2em;
    background: #fafafa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    overflow: auto;
    padding: 0.5em; }
    #content #main_oferta .imagen {
      width: 398px;
      float: left;
      overflow: hidden;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      behavior: url(border-radius.htc);
      border: 1px solid #737373; }
      #content #main_oferta .imagen .imagen2 {
        border: 1px solid #cccccc;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        behavior: url(border-radius.htc);
        overflow: hidden; }
    #content #main_oferta .info {
      margin: 0 0.5em;
      float: left;
      width: 380px;
      text-align: right; }
  #content .ofertas {
    padding: 1.5em; }
  #content .oferta {
    margin: 0.5em 0;
    padding: 0.5em;
    overflow: hidden; }
    #content .oferta .imagen {
      float: left;
      margin-right: 1em;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      behavior: url(border-radius.htc);
      border: 1px solid #3d9ad1; }
    #content .oferta h2 {
      font-size: 1.5em; }

.conditions {
  font-size: 0.8em; }

#new_oferta .field {
  width: 960px;
  margin: 0px auto;
  width: 400px;
  margin-bottom: 1em; }
  #new_oferta .field input[type="text"] {
    width: 100%; }
  #new_oferta .field textarea {
    width: 100%;
    height: 60px; }
#new_oferta .day_list {
  margin-top: 1em; }
  #new_oferta .day_list label {
    font-family: arial; }
#new_oferta a {
  text-decoration: none;
  color: #606060; }
#new_oferta .local {
  background: #cccccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(border-radius.htc);
  width: 960px;
  margin: 0px auto;
  width: 400px;
  padding: 0.5em; }
  #new_oferta .local .field {
    width: 100%; }
