body {
  background: url(http://subtlepatterns.com/patterns/brushed_alu.png);
  margin: 0;
  font-size: 15px;
  font-family: helvetica; }

h1 {
  font-size: 2em;
  margin: 0.5em;
  margin-bottom: 1em; }

h2 {
  font-size: 2.3em;
  line-height: 1.2;
  color: #ffa500;
  font-family: "Righteous", cursive; }

h3 {
  font-size: 2em;
  color: #0cada1;
  line-height: 1.4;
  margin-bottom: 0.5em; }

input[type="text"] {
  margin-top: 3px;
  height: 30px; }

#header {
  padding: 0.5em 0;
  background: #3d9ad1;
  margin-bottom: 1em;
  border-bottom: 5px solid #ffa500;
  font-family: "Righteous", cursive; }
  #header .header_info {
    width: 960px;
    margin: 0px auto; }
    #header .header_info a.publica_url {
      float: right;
      color: #ffa500;
      margin-top: 50px; }

#days {
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  font-family: "Righteous", cursive;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0.5em;
  font-size: 1.2em;
  background: white; }
  #days li a.current_day {
    background: #57ea00;
    padding: 0.7em 0;
    display: block;
    text-align: center;
    width: 108px;
    font-size: 1.3em;
    color: #333333; }
  #days a {
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    background: #b3b3b3;
    padding: 0.5em;
    padding-right: 1em;
    margin-bottom: 0.1em;
    text-decoration: none;
    color: white; }
    #days a:hover {
      background: #cccccc; }

#content {
  width: 960px;
  margin: 0px auto;
  overflow: auto; }
  #content strong {
    font-family: "Righteous", cursive; }
  #content #main {
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: white;
    padding: 0.6em;
    overflow: auto; }

#main_oferta {
  font-size: 1.2em;
  background: #fafafa;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(border-radius.htc);
  overflow: hidden;
  padding: 0.5em; }
  #main_oferta .imagen {
    width: 398px;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    border: 1px solid #737373; }
    #main_oferta .imagen .imagen2 {
      border: 1px solid #cccccc;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      behavior: url(border-radius.htc);
      overflow: hidden; }
  #main_oferta .info {
    margin: 0 0.5em;
    float: left;
    width: 380px;
    text-align: right;
    min-height: 280px;
    height: auto !important;
    height: 280px; }
  #main_oferta .social_main {
    float: right;
    margin-bottom: 0.5em;
    margin-right: -30px;
    width: 215px; }
    #main_oferta .social_main .fb-like {
      position: absolute; }
    #main_oferta .social_main .twitter-share-button {
      float: right; }

.ofertas {
  padding: 1.5em; }

.oferta {
  margin: 0.5em 0;
  padding: 0.5em;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(border-radius.htc);
  background: #f2f2f2; }
  .oferta .imagen {
    float: left;
    margin-right: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    border: 1px solid #3d9ad1; }
  .oferta h2 {
    font-size: 1.5em; }
  .oferta .info {
    height: 140px; }
  .oferta .social {
    float: right;
    width: 215px;
    margin-right: -30px; }
    .oferta .social .twitter-share-button {
      width: 80px;
      float: right; }
    .oferta .social .fb-like {
      position: absolute; }

.ver_mas {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 2.5;
  font-size: 1.2em;
  color: #333333;
  background: #fcb419;
  border: 1px solid #e89f22;
  background-image: linear-gradient(bottom, #e89f22 17%, #fba819 59%, #fcb419 80%);
  background-image: -o-linear-gradient(bottom, #e89f22 17%, #fba819 59%, #fcb419 80%);
  background-image: -moz-linear-gradient(bottom, #e89f22 17%, #fba819 59%, #fcb419 80%);
  background-image: -webkit-linear-gradient(bottom, #e89f22 17%, #fba819 59%, #fcb419 80%);
  background-image: -ms-linear-gradient(bottom, #e89f22 17%, #fba819 59%, #fcb419 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #e89f22), color-stop(0.59, #fba819), color-stop(0.8, #fcb419));
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcb419, endColorstr=#e89f22);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcb419, endColorstr=#e89f22)";
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 0px #ffd073;
  width: 120px;
  line-height: 1.5;
  hegiht: 50px;
  float: right;
  margin-right: 10px; }
  .ver_mas:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #333333; }

#oferta .fb-comments {
  margin-left: 70px;
  margin-top: 2em; }
#oferta #sucursales {
  margin-left: 2em; }
#oferta .sucursal {
  margin-bottom: 1em; }
#oferta #mapa {
  width: 400px;
  height: 250px;
  border: 1px solid #cccccc;
  float: right;
  margin-right: 2em; }
#oferta #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%; }

#new_oferta .field {
  width: 960px;
  margin: 0px auto;
  width: 400px;
  margin-bottom: 1em; }
  #new_oferta .field input[type="text"] {
    width: 100%; }
  #new_oferta .field textarea {
    width: 100%;
    height: 60px; }
#new_oferta .day_list {
  margin-top: 1em; }
  #new_oferta .day_list label {
    font-family: arial; }
#new_oferta a {
  text-decoration: none;
  color: #606060; }
#new_oferta .local {
  background: #cccccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(border-radius.htc);
  width: 960px;
  margin: 0px auto;
  width: 400px;
  padding: 0.5em; }
  #new_oferta .local .field {
    width: 100%; }
