%h1 Ofertas del día, #{fecha_hoy}.

-if @oferta
  #main_oferta
    .imagen
      .imagen2
        =image_tag(@oferta.picture.url(:medium))
    .info
      %h2
        =@oferta.description.titleize
        %br
      %span=' en ' + @oferta.restaurant.name.titleize
      %br
      %br
      -if !@oferta.hour.blank?
        %strong Horario en el que aplica
        %br
        =@oferta.hour
        %br
      %br
      -if @oferta.restaurant.addresses
        -if !@oferta.restaurant.addresses.first.street.blank?
          %strong Dirección
          %br
          =@oferta.restaurant.addresses.first.street
          %br
        %br
        %strong Teléfono
        %br
        =@oferta.restaurant.addresses.first.phone
        %br
        %br
      -if !@oferta.conditions.blank?
        .conditions
          %strong Condiciones
          %br
          =@oferta.conditions
          %br
          %br

.ofertas
  -@ofertas.each do |oferta|
    .oferta
      .imagen
        =image_tag(oferta.picture.url(:thumb))
      %h2=oferta.description.titleize
      en
      =oferta.restaurant.name.titleize
      %br
      %br
      -if !oferta.conditions.blank?
        %strong Condiciones
        %br
        =oferta.conditions
        %br
        %br
      -if !oferta.hour.blank?
        %strong Horario en el que aplica
        %br
        =oferta.hour
        %br
    %hr
