%h1 Ofertas para hoy, #{fecha_hoy}.

-if @oferta
  #main_oferta
    .imagen
      =image_tag(@oferta.picture.url(:medium))
    .info
      %h2
        =@oferta.description.titleize
        %br
      %span=' en ' + @oferta.restaurant.name.titleize
      %br
      %br
      -if !@oferta.conditions.blank?
        %strong Condiciones
        %br
        =@oferta.conditions
        %br
        %br
      -if !@oferta.hour.blank?
        %strong Horario en el que aplica
        %br
        =@oferta.hour
        %br
      %br
      -if @oferta.restaurant.addresses
        %strong Dirección
        %br
        =@oferta.restaurant.addresses.first.street
        %br
        %br
        %strong Teléfono
        %br
        =@oferta.restaurant.addresses.first.phone
        %br

.ofertas
  -@ofertas.each do |oferta|
    .oferta
      =image_tag(oferta.picture.url(:thumb))
      %h2=oferta.description.titleize
      en
      =oferta.restaurant.name.titleize
      %br
      %br
      -if !oferta.conditions.blank?
        %strong Condiciones
        %br
        =oferta.conditions
        %br
        %br
      -if !oferta.hour.blank?
        %strong Horario en el que aplica
        %br
        =oferta.hour
        %br
