%html
  %head
    %title Comidero
    %link{:rel=>"icon", :type=>"image/png", :href=>"/images/comidero_small.png"}
    =stylesheet_link_tag 'reset'
    %link{:href => 'http://fonts.googleapis.com/css?family=Righteous', :rel => 'stylesheet', :type => 'text/css'}
    =stylesheet_link_tag 'application'
    =javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
    =javascript_include_tag :defaults, "nested_form"
    =csrf_meta_tag
    =yield(:javascript)
  %body
    #fb-root
    %script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=369418443117706";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32423589-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();



    #header
      .header_info
        =link_to(image_tag('comidero.png', :width => "250px"),'/')
        =link_to('publica una promoción', new_restaurant_url, :class => 'publica_url')
    #content
      %ul#days
        -day_list.each_with_index do |day, index|
          -if params[:wday] and params[:wday] == day.parameterize
            %li=link_to(day, '/ofertas/' + day.parameterize, :class => "current_day")
          -elsif params[:wday].nil? and index == 0
            %li=link_to(day, '/ofertas/' + day.parameterize, :class => "current_day")
          -else
            %li=link_to(day, '/ofertas/' + day.parameterize)
      #main
        =yield
